<nav>
    <div class="wrapper">
        <header><a href="/">The Game of Love</a></header>
        <hr>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/santana-feat-michelle-branch.html">Santana feat. Michelle Branch</a>
            <a href="/daft-punk.html">Daft Punk</a>
            <a href="/wayne-fontana-and-the-mindbenders.html">Wayne Fontana & The Mindbenders</a>
            <a href="/more.html">More...</a>
        </div>
    </div>
    <footer>
        <a class="developed-by" href="http://bdadam.com">developed by: bdadam.com</a>
    </footer>
</nav>